<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: mateHead"></head>

<body class="stretched">
	<div id="wrapper">
		<header th:replace="fragments/front/common :: mateHeader('blog')"></header>
		<section class="bg-transparent">
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col-md-4 form-group">
							<label>SUBJECT</label>
							<select name="suejct" id="subject" class="form-select" onchange="submitSubject()">
								<option value="ALL" th:selected="${subject} == 'ALL'">ALL</option>
								<option value="マーケティング" th:selected="${subject} == 'マーケティング'">マーケティング</option>
								<option value="インスタマーケティング" th:selected="${subject} == 'インスタマーケティング'">インスタマーケティング
								</option>
								<option value="インスタアカウント管理" th:selected="${subject} == 'インスタアカウント管理'">インスタアカウント管理
								</option>
								<option value="SNSマーケティング" th:selected="${subject} == 'SNSマーケティング'">SNSマーケティング</option>
								<option value="検索マーケティング" th:selected="${subject} == '検索マーケティング'">検索マーケティング</option>
								<option value="コンテンツ制作" th:selected="${subject} == 'コンテンツ制作'">コンテンツ制作</option>
								<option value="ディスプレイマーケティング" th:selected="${subject} == 'ディスプレイマーケティング'">ディスプレイマーケティング
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<div class="content-wrap">
				<div class="container">
					<div id="posts" class="row grid-container gutter-40">
						<div th:if="${blogs.totalElements > 0}" th:each="b : ${blogs}" class="blog-entry entry col-12">
							<div class="grid-inner row g-0">
								<div class="col-md-3">
									<div class="entry-image">
										<a th:href="@{/blogDetail/{id}(id=${b.id})}" data-lightbox="image">
											<img width="auto;" height="100%;" src="/front/image/idea.png">
										</a>
									</div>
								</div>
								<div class="col-md-9 ps-md-4">
									<div class="entry-title title-sm">
										<h2><a th:href="@{/blogDetail/{id}(id=${b.id})}" th:text="${b.title}">BLOG TITLE
												SECTION</a></h2>
									</div>
									<div class="entry-meta">
										<ul>
											<li><i class="uil uil-schedule"></i> [[${b.date}]]</li>
											<li><a href="#"><i class="uil uil-user"></i> [[${b.author}]]</a></li>
											<li><i class="uil uil-folder-open"></i> <a href="#"># [[${b.tag}]]</a></li>
											<li><a href="#"><i class="uil uil-camera"></i>[[${b.clicks}]] CLICKS</a>
											</li>
										</ul>
									</div>
									<div class="entry-content">
										<p class="multiline-ellipsis" th:utext="${b.comment}">CONTENT SECTION[......]
										</p>
										<a th:href="@{/blogDetail/{id}(id=${b.id})}" class="more-link">READ MORE</a>
									</div>
								</div>
							</div>
						</div>

						<div th:if="${blogs.totalElements == 0}" class="no-content-message">
							<div class="grid-inner row g-0">
								<div class="col-md-12">
									<div class="entry-image">
										<a>
											<img width="auto;" height="100%;" src="/front/image/not.png">
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div style="float:right;" th:if="${blogs.totalElements > 0}">
						<nav aria-label="navigation" style="text-align: center;">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${1 == blogs.pageable.pageNumber+1} ? 'disabled'">
									<a class="page-link" href="#" th:href="@{/blogList(page=0, subject=${subject})}"
										tabindex="-1" aria-disabled="true">First</a>
								</li>
								<li class="page-item" th:classappend="${1 == blogs.pageable.pageNumber+1} ? 'disabled'">
									<a class="page-link" href="#"
										th:href="@{/blogList(page=${blogs.pageable.pageNumber - 1}, subject=${subject})}"
										tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<li class="page-item" th:classappend="${i == blogs.pageable.pageNumber+1} ? 'disabled'"
									th:each="i : ${#numbers.sequence(startPage, endPage)}">
									<a class="page-link" href="#" th:text=${i}
										th:href="@{/blogList(page=${i-1}, subject=${subject})}">1</a>
								</li>
								<li class="page-item"
									th:classappend="${blogs.totalPages == blogs.pageable.pageNumber + 1} ? 'disabled'">
									<a class="page-link" href="#"
										th:href="@{/blogList(page=${blogs.pageable.pageNumber + 1}, subject=${subject})}">Next</a>
								</li>
								<li class="page-item"
									th:classappend="${blogs.totalPages == blogs.pageable.pageNumber + 1} ? 'disabled'">
									<a class="page-link" href="#"
										th:href="@{/blogList(page=${blogs.totalPages-1}, subject=${subject})}">Last</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<footer th:replace="fragments/front/common :: mateFooter"></footer>
	</div>
	<div th:replace="fragments/front/common :: mateBtn"></div>
	<th:block th:replace="fragments/front/common :: mateScript"></th:block>
	<script>
		function submitSubject() {
			const selectElement = document.getElementById('subject');
			const selectedValue = selectElement.value;

			// /blogList 경로에 선택된 값을 쿼리 파라미터로 추가하여 이동
			window.location.href = `/blogList?subject=${encodeURIComponent(selectedValue)}`;
		}
	</script>
</body>

</html>