<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: mateHead"></head>

<body class="stretched">
	<div id="wrapper">
		<header th:replace="fragments/front/common :: mateHeader('index')"></header>

		<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 include-header">
			<div class="slider-inner"
				style="background: url('/front/image/main/main.png') center center no-repeat; background-size: cover;">
				<div class="main-overlay-container"></div>
				<div class="container" style="height:100vh;" id="home">
					<div class="main-subtitle">
						<p>プロに任せよう！ <span>ビジネス</span>を <span>成功</span>へと導く。</p>
					</div>
					<div class="main-title-section">
						<div class="animation-wrap">
							<div class="animation-box">
								<img width="100" src="/front/image/main/anim01.png">
								<div>運営方法は？</div>
							</div>
							<div class="animation-box">
								<img width="100" src="/front/image/main/anim02.png">
								<div>投稿を露出？</div>
							</div>
							<div class="animation-box">
								<img width="100" src="/front/image/main/anim03.png">
								<div>時間がない？</div>

							</div>
							<div class="animation-box">
								<img width="100" src="/front/image/main/anim04.png">
								<div>フォロワー数上昇？</div>
							</div>
						</div>
						<span class="main-subject">INSTAGRAM</span><br><span class="main-title">アカウント運用</span>
					</div>
					<div class="main-bottom-wrap">
						<div class="main-text-wrap">
							<p>Marketing your values with INSTAMATE</p>
						</div>
						<div class="main-btn-wrap">
							<span class="arrow"><i class="fas fa-angle-right"></i>
								<i class="fas fa-angle-right duplicate"></i></span>
							<span class="arrow"><i class="fas fa-angle-right"></i>
								<i class="fas fa-angle-right duplicate"></i></span>
							<a href="#" data-scrollto="#contact" data-easing="easeInOutExpo" data-speed="1250"
								data-offset="160" class="custom-button">
								マーケテイングのご相談
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div id="content">
			<div class="content-wrap">
				<div class="container" id="about">
					<div class="page-section">
						<div class="row align-items-center justify-content-between g-5">
							<div class="col-lg-4">

								<h3 class="content-title-text titular-title fw-normal font-secondary fst-normal">
									MARKETING OUTLINE
								</h3>
								<p class="titular-sub-title text-primary">INSTAGRAM MARKETING
								</p>
								<p>専門マネージャー及びマーケター、開発者、デザイナーが、INSTAGRAM運用の目的及び課題に合わせて最適なサービスを提案いたします。</p>
								<p>ビッグデータを基盤とした独自技術により、アカウント育成から投稿イメージの製作、<br>運営、分析まで、INSTAGRAMマーケティングに必要な全てを支援いたします。
								</p>
								<img src="/front/image/section02/man.png">
							</div>
							<div class="col-lg-7">
								<div class="cascading-section">
									<div class="one" data-aos="fade-left">
										<span>露出及び認知拡大</span>
										<p>どんなに良いコンテンツであっても、単純な投稿のみでは収益に繋がりません。
										</p>
										<p>多くのINSTAGRAM利用者へアカウントを露出し、認知度拡大を図ることで集客・収益に繋げなければなりません。
										</p>
									</div>
									<div class="two" data-aos="fade-right">
										<span>利用者との関係構築</span>
										<p>INSTAGRAM運営には、アカウントに掲載されている内容をもとにした他の利用者とのコミュニケーション方法が非常に重要です。
										<p>既存の顧客や潜在顧客との関係を構築することが、マーケティングのための効果的なアカウント育成の第一歩です。
										</p>
									</div>
									<div class="three" data-aos="fade-left">
										<span>投稿イメージ製作及び運用代行</span>
										<p>マーケターだけでなく、専任のエンジニアとデザイナーがイメージ製作からアカウント管理まで一括支援いたします。</p>
										<p>また、PDCA(計画 - 実行 - 評価 - 改善)プロセスを通して、最大限のマーケティング効率が得られるよう改善していきます。</p>
									</div>
								</div>
							</div>

						</div>
						<div class="clear"></div>
					</div>

					<div class="line"></div>

					<div class="page-section">
						<h3 class="content-title-text titular-title fw-normal text-center font-secondary fst-normal">
							選ばれる理由</h3>
						<p class="titular-sub-title text-primary text-center">
							露出、価格、品質が優れたサービスで、INSTAGRAMでの認知拡大及び集客が可能です。</p>
						<div class="clear"></div>
						<div class="container mw-lg">
							<div class="row col-mb-50 mb-0">
								<div class="col-md-4" data-aos="fade-down">
									<article class="portfolio-item">
										<div class="portfolio-image">
											<a href="#">
												<img src="/front/demos/app-landing/images/section/iphone-watch.png"
													alt="">
											</a>
											<div class="bg-overlay">
												<div class="bg-overlay-content">
													<div class="feature-box fbox-center fbox-dark fbox-plain mx-0">
														<img src="/front/image/section03/data.png" alt="">
														<div class="fbox-content">
															<h3>国内最大規模のSNSビッグデータを保有</h3>
															<p>INSTAGRAM運営に必須であるアルゴリズムを徹底的に分析し、マーケティング効果を極大化させます。 </p>
															<p>数年間に及び蓄積されたノウハウと技術で、ご希望のターゲット層への直接的なアプローチが可能です。</p>
														</div>
													</div>
												</div>
												<div class="bg-overlay-bg"></div>
											</div>
										</div>
									</article>
								</div>
								<div class="col-md-4" data-aos="fade-down">
									<article class="portfolio-item">
										<div class="portfolio-image">
											<a href="#">
												<img src="/front/demos/app-landing/images/section/iphone-watch.png"
													alt="">
											</a>
											<div class="bg-overlay">
												<div class="bg-overlay-content">
													<div class="feature-box fbox-center fbox-dark fbox-plain mx-0">
														<img src="/front/image/section03/watch.png" alt="">
														<div class="fbox-content">
															<h3>最小の費用と所要時間</h3>
															<p>INSTAGRAM運営で集客及び収益化に繋げるには、多額の費用と時間が所要されます。</p>
															<p><strong>INSTAMATE</strong>は初期のシステム構築から投稿及び運用まで、一貫して
																委託することができるため、人力及び時間確保に縛られることなく事業に集中していただけます。</p>
														</div>
													</div>
												</div>
												<div class="bg-overlay-bg"></div>
											</div>
										</div>
									</article>
								</div>
								<div class="col-md-4" data-aos="fade-down">
									<article class="portfolio-item">
										<div class="portfolio-image">
											<a href="/front/#">
												<img src="/front/demos/app-landing/images/section/iphone-watch.png"
													alt="">
											</a>
											<div class="bg-overlay">
												<div class="bg-overlay-content">
													<div class="feature-box fbox-center fbox-dark fbox-plain mx-0">
														<img src="/front/image/section03/gear.png" alt="">
														<div class="fbox-content">
															<h3>必要なサービスを利用者が定義</h3>
															<p>アカウント及び事業の内容によって、効果的なサービスは当然異なります。</p>
															<p>一つの戦略を強要するのではなく、アカウント及び事業に最適化した戦略及びサービスで
																効果的なINSTAGRAMマーケティングが可能になります。</p>
														</div>
													</div>
												</div>
												<div class="bg-overlay-bg"></div>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="clear"></div>
					<div class="page-section" id="member">
						<h3 class="content-title-text titular-title fw-normal text-center font-secondary fst-normal">
							メンバー紹介</h3>
						<p class="titular-sub-title text-primary text-center">
							お客様のマーケティングをサポートする専門家で構成されたインスタメイトのチームメンバーを紹介いたします。</p>
						<div class="clear"></div>
						<div class="cnt5">
							<div class="tit">
								<div class="swiper-button-next"></div>
							</div>

							<div class="txt swiper mySwiper">
								<ul class="swiper-wrapper">
									<li class="ps1 swiper-slide">
										<div class="clear_img"><img src="/front/images/c5_clear.png" alt="">
										</div>
										<h4 class="logo"><img src="/front/image/logo-black.png"
												alt="INSTAMATE"></h4>
										<div class="content_txt">
											<span class="bar"></span>
											<h4><span>CEO</span> <br>ユジョンウン</h4>

											<h5>学歴</h5>
											<p>早稲田大学 <br>政治経済学部　卒業</p>

											<h5>経歴</h5>
											<p>新韓投資証券IPO</p>
										</div>
									</li>

									<li class="ps2 swiper-slide">
										<div class="clear_img"><img src="/front/images/c5_clear.png" alt="">
										</div>
										<h4 class="logo"><img src="/front/image/logo-black.png"
												alt="INSTAMATE"></h4>
										<div class="content_txt">
											<span class="bar"></span>
											<h4><span>CTO</span> <br>キムファン</h4>

											<h5>学歴</h5>
											<p>亜洲大学校 <br>化学工業　卒業</p>

											<h5>経歴</h5>
											<p>ブロックチェーン企業のトップディベロッパー</p>
										</div>
									</li>

									<li class="ps3 swiper-slide">
										<div class="clear_img"><img src="/front/images/c5_clear.png" alt="">
										</div>
										<h4 class="logo"><img src="/front/image/logo-black.png"
												alt="INSTAMATE"></h4>
										<div class="content_txt">
											<span class="bar"></span>
											<h4><span>COO</span> <br>キムウンソプ</h4>

											<h5>学歴</h5>
											<p>早稲田大学 <br>政治経済学部　卒業</p>

											<h5>経歴</h5>
											<p>韓国トヨタ <br>グローバルマーケティング</p>
										</div>
									</li>

									<li class="ps4 swiper-slide">
										<div class="clear_img"><img src="/front/images/c5_clear.png" alt="">
										</div>
										<h4 class="logo"><img src="/front/image/logo-black.png"
												alt="INSTAMATE"></h4>
										<div class="content_txt">
											<span class="bar"></span>
											<h4><span>日本法人長</span> <br>ジンホンギュ</h4>

											<h5>学歴</h5>
											<p>九州大学 <br>経営学部　卒業</p>

											<h5>経歴</h5>
											<p>韓国KOTRA <br>海外営業部</p>
										</div>
									</li>

									<li class="ps5 swiper-slide">
										<div class="clear_img"><img src="/front/images/c5_clear.png" alt="">
										</div>
										<h4 class="logo"><img src="/front/image/logo-black.png"
												alt="INSTAMATE"></h4>
										<div class="content_txt">
											<span class="bar"></span>
											<h4><span>日本マーケティングチーム</span> <br>秋元舞</h4>

											<h5>学歴</h5>
											<p>韓国外国語大学</p>

											<h5>経歴</h5>
											<p>日本マーケティング <br>エージェンシーqlix</p>
										</div>
									</li>

									<li class="ps6 swiper-slide">
										<div class="clear_img"><img src="/front/images/c5_clear.png" alt="">
										</div>
										<h4 class="logo"><img src="/front/image/logo-black.png"
												alt="INSTAMATE"></h4>
										<div class="content_txt">
											<span class="bar"></span>
											<h4><span>日本マーケティングチーム</span> <br>田中さくら</h4>

											<h5>学歴</h5>
											<p>九州大学 <br>経営学　卒業</p>

											<h5>経歴</h5>
											<p>ホットペッパー在籍</p>
										</div>
									</li>
								</ul>

								<div class="swiper-scrollbar"></div>
							</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="clear"></div>
				</div>
				<div class="container" id="client">
					<div class="page-section">
						<h3 class="content-title-text titular-title fw-normal text-center font-secondary fst-normal">
							INSTAGRAM支援</h3>
						<p class="titular-sub-title text-primary text-center">INSTAGRAMによるマーケティング支援効果を、直接ご確認ください。</p>

						<div class="clear"></div>
						<div class="row">
							<div class="col-lg-6">
								<div class="page-wrap">
									<div class="page-over page"
										style="background-image:url('/front/image/section04/over.png'); background-repeat: no-repeat;background-position:center center;background-size:cover;">
										<h1>お客様からのお問い合わせ</h1>
										<img src="/front/image/section04/q01.png" alt="#">
										<p class="text-left">1. 運営しているカフェをInstagramの人気投稿に露出させたいです。</p>
										<p class="text-left">2.
											カフェのInstagramアカウントで、多くの利用者及び顧客様とコミュニケーションをとり、私たちの投稿を届けたいです。
										</p>
									</div>
									<div class="page-under page"
										style="background-image:url('/front/image/section04/under.png'); background-repeat: no-repeat;background-position:center center;background-size:cover;">
										<h1 style="color:white;">解決方法</h1>
										<p class="text-left">1.
											施策キーワード検索時に写真を人気投稿に露出させることで、フォロワー<strong>10,000人増加！</strong></p>
										<p class="text-left">2. アカウントの最適化によるユーザーとの関係性形成を推進し、<strong>上位1位に投稿維持中！</strong>
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="page-wrap">

									<div class="page-over page"
										style="background-image:url('/front/image/section04/over.png'); background-repeat: no-repeat;background-position:center center;background-size:cover;">
										<h1>お客様からのお問い合わせ</h1>
										<img src="/front/image/section04/q02.png" alt="#">
										<p class="text-left">1. インスタグラムに毎日投稿しているが、予約や販売に繋がらない。</p>
										<p class="text-left">2. インスタグラムマーケティングを通じて顧客とのコミュニケーションを超え、実際の販売に繋げたい。</p>
									</div>
									<div class="page-under page"
										style="background-image:url('/front/image/section04/under.png'); background-repeat: no-repeat;background-position:center center;background-size:cover;">
										<h1 style="color:white;">解決方法</h1>
										<p class="text-left">1.
											キーワード検索時の虫眼鏡エリア検索欄にアカウントを上位表示させ、<strong>DM予約数5倍増加！</strong></p>
										<p class="text-left">2.
											プロフィールを再検討し、信頼感のあるアカウントに成長させ、顧客のエンゲージメント率<strong>350%向上。</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="clear"></div>
					<div class="page-section" id="service">
						<h3 class="content-title-text titular-title fw-normal text-center font-secondary fst-normal">
							サービス紹介</h3>
						<p class="titular-sub-title text-primary text-center">INSTAGRAMマーケティングに役立つ、多様なサービスをご紹介いたします。
						</p>

						<div class="clear"></div>
						<div class="container" style="overflow:hidden;">
							<div id="oc-posts" class="owl-carousel posts-carousel carousel-widget posts-md"
								data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-loop="true"
								data-items-lg="3">

								<div class="oc-item">
									<div class="entry service-slider-items">
										<div class="entry-image">
											<img src="/front/image/section05/service01.png" alt="#">
										</div>
										<div class="entry-title title-xs text-center text-transform-none">
											<h3>データ分析</h3>
										</div>

										<div class="entry-content text-center">
											<p>ビッグデータを基盤に市場の状況をリアルタイムで分析し、最も効率的なマーケティング戦略を樹立します。</p>
										</div>
									</div>
								</div>
								<div class="oc-item">
									<div class="entry service-slider-items">
										<div class="entry-image">
											<img src="/front/image/section05/service02.png" alt="#">
										</div>
										<div class="entry-title title-xs text-center text-transform-none">
											<h3>アカウント最適化</h3>
										</div>

										<div class="entry-content text-center">
											<p>いいね、コメント、フォロワーの数値管理などを通して、潜在顧客及び既存の顧客との関係を構築し、これによりアカウントを成長させます。 </p>
										</div>
									</div>
								</div>
								<div class="oc-item">
									<div class="entry service-slider-items">
										<div class="entry-image">
											<img src="/front/image/section05/service03.png" alt="#">
										</div>
										<div class="entry-title title-xs text-center text-transform-none">
											<h3>投稿を人気投稿に表示</h3>
										</div>

										<div class="entry-content text-center">
											<p>ご希望の画像と文章を人気投稿の上位に表示させ、ターゲット層への効果的なアプローチを可能にします。 </p>
										</div>
									</div>
								</div>
								<div class="oc-item">
									<div class="entry service-slider-items">
										<div class="entry-image">
											<img src="/front/image/section05/service04.png" alt="#">
										</div>
										<div class="entry-title title-xs text-center text-transform-none">
											<h3>検索上位表示</h3>
										</div>

										<div class="entry-content text-center">
											<p>キーワード検索時に表示されるリストの上位に表示させ、アカウントの認知度上昇は勿論、利用者の流入を増加させることができます。</p>
										</div>
									</div>
								</div>
								<div class="oc-item">
									<div class="entry service-slider-items">
										<div class="entry-image">
											<img src="/front/image/section05/service05.png" alt="#">
										</div>
										<div class="entry-title title-xs text-center text-transform-none">
											<h3>DM一括転送</h3>
										</div>

										<div class="entry-content text-center">
											<p>ご希望のターゲット顧客層へ、自動化されたプログラムでDMを発信し、これによりマーケティング効果上昇及びターゲット顧客層とのコミュニケーションが可能になります。
											</p>
										</div>
									</div>
								</div>
								<div class="oc-item">
									<div class="entry service-slider-items">
										<div class="entry-image">
											<img src="/front/image/section05/service06.png" alt="#">
										</div>
										<div class="entry-title title-xs text-center text-transform-none">
											<h3>カスタマイジング</h3>
										</div>

										<div class="entry-content text-center">
											<p>各種サービスから運営代行まで全てのサービスを提供し、顧客様の現在の状況に合わせた全ての戦略を実行いたします。</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="line"></div>
					<div class="clear"></div>
				</div>
				<div class="container" id="mobile-product">
					<div id="oc-images" class="owl-carousel image-carousel carousel-widget mb-1" data-items-xs="1"
						style="overflow:hidden;max-height:700px;" data-items-sm="1" data-items-lg="4" data-items-xl="5">
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm1.png" alt="Image 1"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm2.png" alt="Image 2"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm2-1.png" alt="Image 3"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm3.png" alt="Image 4"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm4.png" alt="Image 5"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm4-1.png" alt="Image 5"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm5.png" alt="Image 6"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm6.png" alt="Image 7"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm7.png" alt="Image 2"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm7-1.png" alt="Image 3"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm7-2.png" alt="Image 4"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm8.png" alt="Image 5"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm9.png" alt="Image 6"></a>
						</div>
						<div class="oc-item">
							<a href="#"><img src="/front/image/product/mobile/pm9-1.png" alt="Image 7"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>
		<div class="container" id="pc-product">
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 01.</h1>
									<span class="price hashtag">
										成果アップのための<br>
										<strong>マーケティング PDCA</strong>
									</span>
									<div class="description">
										<p>売上を決定づける指標であるKPIを分析し</p>
										<p>計画樹立、実行、結果確認、改善の4段階の</p>
										<p>反復過程により、マーケティング成果を</p>
										<p>持続的に向上させるソリューションです。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p1.png">
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 02.</h1>
									<span class="price hashtag">
										アカウント認知度を<br>上げるための<br>
										<strong>リポストサービス</strong>
									</span>
									<div class="description">
										<p>キーワードを能動的に検索する</p>
										<p>ターゲット顧客層に最も効果的な</p>
										<p>INSTAGRAMマーケティングへのアプローチ方法です。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p2.png">
															</div>
															<div class="tns-item">
																<img src="/front/image/product/web/p2-1.png">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 03.</h1>
									<span class="price hashtag">
										特定キーワードで<br>表示される<br>
										<strong>アカウント検索<br>上位露出</strong>
									</span>
									<div class="description">
										<p>検索欄で特定のキーワードを検索時</p>
										<p>キーワード関連コンテンツが自動的に露出され</p>
										<p>ターゲット顧客層に自然にアプローチできる</p>
										<p>マーケティング技法です。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p3.png">
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 04.</h1>
									<span class="price hashtag">
										拡散活動による<br>
										<strong>投稿上位表示</strong>
									</span>
									<div class="description">
										<p>アップロードする投稿にいいね、コメントなど</p>
										<p>多様な相互作用を通して</p>
										<p>露出確率を増加させます。</p>
										<p>競争が激しいキーワードを目標にする場合には</p>
										<p>お勧めしない方法です。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p4.png">
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 05.</h1>
									<span class="price hashtag">
										AIによる<br>
										<strong>アカウント自動活動</strong>
									</span>
									<div class="description">
										<p>潜在顧客を発掘するため</p>
										<p>フォロワー、いいね、コメント、ストーリー閲覧など</p>
										<p>多様な相互作用を自動で行います。</p>
										<p>既存の顧客との関係維持は勿論</p>
										<p>新しい潜在顧客を確保することができます。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p5.png">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 06.</h1>
									<span class="price hashtag">
										ターゲット層との<br>確実なコンタクト<br>
										<strong>自動DM配信</strong>
									</span>
									<div class="description">
										<p>ビッグデータで分析し、ご希望のターゲットに向けて</p>
										<p>一斉にDMを送信する</p>
										<p>直接的なマーケティングサービスです。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p6.png">
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p7.png">
															</div>
															<div class="tns-item">
																<img src="/front/image/product/web/p7-1.png">
															</div>
															<div class="tns-item">
																<img src="/front/image/product/web/p7-2.png">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 07.</h1>
									<span class="price hashtag">
										顧客の記憶に残るため<br>
										<strong>アカウントデザイン<br>サービス</strong>
									</span>
									<div class="description">
										<p>アカウントに合う個性あるデザインを</p>
										<p>専門デザイナーとの相談を通して制作し</p>
										<p>アカウントプロフィールで重要な<br>プロフィール写真、ロゴ、ハイライト、<br>固定投稿を、アカウントのコンセプトに合わせて</p>
										<p>制作するサービスです。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 08.</h1>
									<span class="price hashtag">
										認知度アップを実現<br>
										<strong>アクション数値<br>増加サービス</strong>
									</span>
									<div class="description">
										<p>INSTAGRAMにおいても、フォロワーやいいね数が</p>
										<p>少ないアカウントは信頼度が低下します。</p>
										<p>アクション数値を適切に増やし、</p>
										<p>これにより顧客様のアカウントを<br>信頼度の高い人気アカウントへと</p>
										<p>お作りするサービスです。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p8.png">
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="shop-details">
				<div class="product-top-info">
					<div class="product-detail">
						<div class="row" style="justify-content: space-between;">
							<div class="col-lg-5 product-info">
								<div class="container-small product-detail-box">
									<h1 class="title">PRODUCT 09.</h1>
									<span class="price hashtag">
										アカウント運営のための<br>
										<strong>カスタマイズプラン</strong>
									</span>
									<div class="description">
										<p>基本メニューにプラスして</p>
										<p>現在のご自身のアカウントに最適化されたサービスを</p>
										<p>カスタマイジングすることができます。</p>
										<p>顧客様のご希望に合わせた柔軟なプランを<br>提案いたします。</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 product-detail-media">
								<div class="b-top-black"></div>
								<div class="cms-element-">
									<div class="row">
										<div class="base-slider">
											<div class="tns-outer">
												<div class="tns-ovh">
													<div class="tns-inner">
														<div class="tns-horizontal">
															<div class="tns-item">
																<img src="/front/image/product/web/p9.png">
															</div>
															<div class="tns-item">
																<img src="/front/image/product/web/p9-1.png">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="b-bottom m-bottom"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="line"></div>
			<div class="clear"></div>
			<div class="page-section mb-6">
				<h3 class="content-title-text titular-title fw-normal text-center font-secondary fst-normal">
					FAQ</h3>
				<p class="titular-sub-title text-primary text-center">多くの方がされる質問です。</p>

				<div class="clear mb-5"></div>
				<div class="container" style="overflow:hidden;justify-content: center;display:flex;">
					<main class="postcontent col-lg-9">

						<div class="grid-filter-wrap">
							<ul class="grid-filter style-4 customjs">

								<li class="activeFilter"><a href="/front/#" data-filter="all">ALL</a></li>
								<li><a href="/front/#" data-filter=".faq-marketplace">INSTAMATE</a></li>
								<li><a href="/front/#" data-filter=".faq-authors">PROCESS</a></li>

							</ul>
						</div>

						<div id="faqs" class="faqs">

							<div class="toggle faq faq-marketplace">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-question-circle"></i>
										<i class="toggle-open bi-question-circle"></i>
									</div>
									<div class="toggle-title">
										サービス利用金額はいくらですか？
									</div>
								</div>
								<div class="toggle-content">インスタメイトは、顧客様のアカウント状態に合わせて必要なサービスを
									定義し提供しております。
									そのため、費用は顧客様のアカウント状態とご希望のサービスによって異なります。</div>
							</div>

							<div class="toggle faq faq-marketplace">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed uil uil-comments-alt"></i>
										<i class="toggle-open uil uil-comments-alt"></i>
									</div>
									<div class="toggle-title">
										他社との違いは何ですか？
									</div>
								</div>
								<div class="toggle-content">定型化された他社商品とは違い、顧客様のアカウント状態や
									業種に合わせたカスタマイズサービスを提供いたします。
									また、ビッグデータを活用したアカウント分析、市場調査、潜在顧客のターゲティングなど
									信頼できるマーケティングサービスの提供が可能です。</div>
							</div>

							<div class="toggle faq faq-marketplace">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed fa-solid fa-lock"></i>
										<i class="toggle-open fa-solid fa-lock"></i>
									</div>
									<div class="toggle-title">
										新しい事業を始め、これからアカウントを開設する予定ですが、依頼可能でしょうか？
									</div>
								</div>
								<div class="toggle-content">新しいアカウントを開設する場合でも全面的に支援いたします。
									短期間でのマーケティング効果をご希望の方は、最適化されたアカウントでの
									リポストサービスをご利用いただけます。</div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-download"></i>
										<i class="toggle-open bi-download"></i>
									</div>
									<div class="toggle-title">
										人気投稿にも表示できますか？
									</div>
								</div>
								<div class="toggle-content">良質のアカウントを作ることで、人気投稿への表示もより長く維持されます。
									必要に合わせたターゲットに表示され、アカウントの状態によって露出期間も異なります。</div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-check-lg"></i>
										<i class="toggle-open bi-check-lg"></i>
									</div>
									<div class="toggle-title">
										人気投稿への露出とは何ですか？
									</div>
								</div>
								<div class="toggle-content"></div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-cash"></i>
										<i class="toggle-open bi-cash"></i>
									</div>
									<div class="toggle-title">
										投稿写真を削除しても問題ありませんか？
									</div>
								</div>
								<div class="toggle-content">サービス実行中に投稿写真を削除する場合、最適化作業に問題が生じる可能性がございます。実行中には最大限控えていただくことが
									望ましいです。</div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-image"></i>
										<i class="toggle-open bi-image"></i>
									</div>
									<div class="toggle-title">
										アカウントデザインはどのように行われますか？
									</div>
								</div>
								<div class="toggle-content">専門デザイナーがご希望のコンセプトに合わせて、潜在顧客に露出される説得力のあるアカウントデザインを
									制作いたします。</div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-file-earmark"></i>
										<i class="toggle-open bi-file-earmark"></i>
									</div>
									<div class="toggle-title">
										Instagramが初めてでも依頼できますか？
									</div>
								</div>
								<div class="toggle-content">専門マーケターと共に詳しくご案内するため、比較的簡単に適応していただけます！</div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-bar-chart"></i>
										<i class="toggle-open bi-bar-chart"></i>
									</div>
									<div class="toggle-title">
										非公開アカウントでサービスを利用できないのは何故ですか？
									</div>
								</div>
								<div class="toggle-content">
									サービスはシステムを通してアカウントを感知して行います。非公開の場合アカウントを感知することができないため、サービスの利用ができません。
								</div>
							</div>

							<div class="toggle faq faq-authors">
								<div class="toggle-header">
									<div class="toggle-icon">
										<i class="toggle-closed bi-telephone"></i>
										<i class="toggle-open bi-telephone"></i>
									</div>
									<div class="toggle-title">
										フィード作成はどのように行われますか？
									</div>
								</div>
								<div class="toggle-content">伝えたい情報の方向性に合わせて、専門マーケターが市場/製品を分析し、原稿を作成します。</div>
							</div>


						</div>
					</main>
				</div>
			</div>
			<div class="line"></div>
			<div class="clear"></div>
		</div>
		<div class="container" id="contact">
			<div class="page-section">
				<h3 class="content-title-text titular-title fw-normal text-center font-secondary fst-normal">
					CONTACT</h3>
				<p class="titular-sub-title text-primary text-center">ご不明な点はいつでもお問い合わせください。</p>

				<div class="clear mb-5"></div>
				<div class="row pricing col-mb-30 mb-4 gx-5" style="justify-content: center;">
					<main class="postcontent outline col-lg-10">

						<h3>お問い合わせ</h3>
						<form class="mb-0" method="post" action="/clientInsert">
							<div class="row">
								<div class="col-md-6 form-group">
									<label for="template-contactform-name">顧客様のご氏名 <small>*</small></label>
									<input type="text"
									name="name" 
									class="form-control" 
									placeholder="お名前を入力してください。">
								</div>

								<div class="col-md-6 form-group">
									<label for="template-contactform-phone">連絡先 </label>
									<input 
									type="text" 
									class="form-control" 
									name="phone"
									placeholder="連絡先を入力してください。 '-'を除いてください。">
								</div>

								<div class="col-md-6 form-group">
									<label for="template-contactform-email">E-MAIL </label>
									<input 
									type="email" 
									class="form-control"
									name="email" 
									placeholder="メールアドレスを入力してください。">
								</div>
								<div class="col-md-6 form-group">
									<label for="template-contactform-email">LINE <small>*</small></label>
									<input 
									type="text" 
									class="form-control" 
									name="line"
									placeholder="ラインIDを入力してください。">
								</div>
								<div class="w-100"></div>

								<div class="col-12 form-group">
									<label>お問い合わせ内容 </label>
									<textarea class="form-control" 
									name="comment"
									rows="6" 
									cols="30"
									placeholder="メッセージを入力してください。"></textarea>
								</div>
								<div class="col-12 form-group">
									<button class="button button-3d m-0" type="submit">送信する</button>
								</div>
							</div>
						</form>
					</main>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/front/common :: mateFooter"></footer>
	</div>
	<div th:replace="fragments/front/common :: mateBtn"></div>
	<th:block th:replace="fragments/front/common :: mateScript"></th:block>
</body>

</html>